.dark {
    --text-primary: rgb(22 22 22);
}

html{
    user-select: none;
}

.dark .dark\:text-gray-300{
    color: #000;
    background: #000;
}

.text-gray-400 {
    display: none;
}

.md\:block {
    display: none !important;
}

.dark body, .dark html {
    background: #000;
}

.dark .dark\:bg-\[\#444654\] {
    background: #000;
}

.dark .dark\:border-gray-900\/50 {
    border: none;
    --tw-shadow: none;
    --tw-shadow-colored: none;
    box-shadow: none;
}


.dark .dark\:bg-gray-800 {
    background: #000;
}

.dark .btn-neutral {
    background: #000;
    border-radius: 1px;
    border-color: var(--text-primary);
    color: var(--text-primary);
}

.dark .btn-neutral:hover {
    background: #000;
}

#prompt-textarea {
    background: #000;
    color: var(--text-primary);
    border: 1px solid var(--text-primary);
    text-decoration: none;
}

.disabled\:opacity-40:disabled {
    opacity: 1;
    color: var(--text-primary);
}

.disabled\:text-gray-400:disabled {
    --tw-text-opacity: 1;
    color: var(--text-primary);
}

*,:after,:before {
    border: none;
}

.icon-sm {
    color: var(--text-primary);
    background: transparent;
}

.icon-xs {
    color: var(--text-primary);
}

.prose {
    color: var(--text-primary) !important;
}

.dark .dark\:text-gray-200 {
    color: #000;
    background: transparent;
}

.md\:h-48 {
    height: 8rem;
}

.enabled\:bg-brand-purple:enabled {
    background-color: #000 !important;
}

 ::placeholder{
    color: var(--text-primary) !important;
}

strong{
    color: var(--text-primary) !important; 
}

.markdown ol>li:before {
    color: var(--text-primary) !important; 
}

.rounded-sm {
    opacity: 0;
}

.text-white {
    color: var(--text-primary);
    background-color: #000 !important;
    opacity: 1 !important;
}

.m-1 {
    margin: 0;
}

.dark .dark\:hover\:bg-gray-700:hover {
    background-color: var(--text-primary);
}

::-webkit-scrollbar-thumb {
    background: #000;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #000;
}

.dark .dark\:hover\:bg-gray-700:hover {
    background-color: #000;
}

.h-32 {
    height: 8rem;
}

.md\:max-w-3xl {
    max-width: 80%; 
}

.xl\:max-w-3xl { 
    max-width: 75%; 
}

.md\:\!bg-transparent {
    background-color: #000 !important;
}

::selection {
    background-color: var(--text-primary);
    color: #000; 
}

::-webkit-selection {
    background-color: var(--text-primary);
    color: #000; 
}

.prose :where(code):not(:where([class~=not-prose] *)) {
    color: var(--text-primary) !important;
}

.markdown a, .markdown a:hover {
    color: var(--text-primary);
}     

.text-gray-200 {
    background-color: #000;
    color: var(--text-primary);
}

.hljs-doctag, .hljs-formula, .hljs-keyword, .hljs-literal, .hljs-bullet, .hljs-link, .hljs-selector-id, .hljs-symbol, .hljs-title, .hljs-attr, .hljs-number, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-pseudo, .hljs-template-variable, .hljs-type, .hljs-variable, .hljs-addition, .hljs-attribute, .hljs-meta-string, .hljs-regexp, .hljs-string, .hljs-comment {
    color: var(--text-primary);
}

.flex-shrink-0 {
    color: var(--text-primary);
}

.text-2xl {
    color: var(--text-primary);
}

.dark .dark\:text-gray-600 {
    color: var(--text-primary);
}

.dark .dark\:bg-gray-900 {
    opacity: 0;
}
