.bg-gray-900 {
    display:none;
}

.dark .dark\:text-gray-300{
    color: transparent;
}

.text-gray-400 {
    display: none;
}

.md\:block {
    display: none !important;
}

.dark body, .dark html {
    background: #000;
}

.dark .dark\:bg-\[\#444654\] {
    background: #000;
}

.dark .dark\:border-gray-900\/50 {
    border: none;
}
